body{
 padding:0px;
 margin: 0px;
 background-color: #eee;
}
/* Menu */
nav {
    background-color: #191919;
}
nav a {
    color:#ccc;
}
nav a:hover {
    color:#eee;
    text-decoration:underline!important;
}
.title-validation {
    text-align: center;
    margin-bottom:20px;
}
.form-container-validation {
    margin-bottom:12px;
}
.btn-other-validation {
 
    display: flex;
    justify-content: center;
    margin:10px;

}
